target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 忽略任意位置下的 node_modules目录
**/node_modules/
# 忽略任意位置 logs 目录下的所有 .log 文件
**/logs/*.log
# 忽略任意位置 logs 目录下的所有 .log.gz 文件
**/logs/*.log.gz
# 忽略 docker数据下的所有数据
/deploy/docker/docker-data/**/data/
