/* nprogress进度条颜色配置 */
#nprogress .bar {
  background: var(--color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--color-primary) !important;
  border-left-color: var(--color-primary) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-primary),
  0 0 5px var(--color-primary) !important;
}

@media (prefers-color-scheme: dark) {
  #nprogress .bar {
    background: #a855f7 !important;
  }
}
