@import "tailwindcss";

/* ===== 自定义主题 ===== */
@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --color-dark: #0f172a;              /* Slate-900 */
  /* 动态主/辅色（rgb 通道格式，支持 /50 透明度） */
  --color-primary: #ec4899;
  --color-secondary: #8b5cf6;
}

/* ===== 深色模式策略 ===== */
@custom-variant dark (&:where(.dark, .dark *));

/* ===== 自定义样式 ===== */
@layer base {
  /* TailwindCss4 会把 svg默认设置为 block */
  svg {
    display: inline-block;
    vertical-align: middle;
  }
}
